{
  "root": true,
  "extends": [
    "brainhub"
  ],
  "rules": {
    "no-warning-comments": 1
  },
  "globals": {
    "logger": true
  },
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  }
}
